.data-tip {
    display: flex;
    margin: auto;
    padding: 20px;
    background: #dbdde9;
    margin-bottom: 10px;
    width: 30%;
  }

  .tool-tip {
    border-top-color: orange !important;
    border-top-style: solid !important;
    border-top-width: 6px !important;
  }